<script>var exports = {}; </script>
<script src="routes.js"></script>
    <script src="controller/controller.js"></script>
    <script src="index.js"></script>
    <script src="conexiondb.js"></script>
<head>
    
    <h1>========CREAR========</h1>
</head>
<body>

    
   <ng-container>

    <a href="../../index.html">[Index]</a>
    
    
    
    <table class="table  table-hover table-striped">
        <body>
            <p>Nombre:</p>
            
            <input type="text">
        </body>
        <body>
            <p>Apellido:</p>
            <input type="text">
        </body>
        <body>
            <p>Legajo:</p>
            <input type="text">
        </body>
        <body>
            <p>Dni:</p>
            <input type="text">
        </body>
        <body>
            <p>Sector:</p>
            <input type="text">
        </body>
        <body>
            <p>Fecha Ingreso:</p>
            <input type="text">
        </body>
        <body>
            <p>Activo:</p>
            <input type="text">
        </body>
    </table>
    
   </ng-container>
   <p></p>
   <button>Crear</button>
    
 

</body>
