head
    
    h1     EDITAR

body

    
   ng-container

    a href="../../index.html" [Index]
    
    table class="table  table-hover table-striped"
        body
            p Nombre
            
            input type="text"
       
        body
            p Apellido:
            input type="text"
      
        
    button [href]="../../index.ts"Editar
    
 


